/*
slides2.css
copyright 2014, mikedice417@hotmail.com
*/

#slides-container {
    width: 750px;
    
    border-width: 1px;
    border-color: black;
    
    /*these properties are changed in script*/
    overflow: auto;
    height: 670px;
}

#slides-window {
    width: 10000px;
    height: 650px;
    margin-left: 0px; /*will be manipulated in script to slide pictures*/
}

#slides-controls
{
    color: white;
    height: 20px;
    color: white;
    padding-left: 280px;
}

#slider-slide-left
{
    float:left;
    width: 30px;
    max-width: 30px;
}

#slider-slide-left a:hover
{
    cursor: pointer;
    color: gray;
}

#slider-slide-right
{
    float:left;
    width: 30px;
    max-width: 30px;
}

#slider-slide-right a:hover
{
    cursor: pointer;
    color: gray;
}

#slider-current-count
{
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}

.slideElement {
    float:left;
    background-color: black;
    height: 650px;
    width: 750px;
}

.slide-image {
    max-height: 650px;
    max-width: 750px;
}


